/* styles.css */

/* Cambiar el color de fondo del pie de página */
footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    text-align: center;
}

/* Estilo para el encabezado principal */
h1 {
    font-family: 'Arial', sans-serif;
    color: #343a40; /* Color oscuro */
    text-align: center; /* Centrar texto */
}

/* Estilos de la barra de navegación */
.navbar-nav .nav-link {
    font-size: 16px; /* Cambia este valor según tus necesidades */
    font-weight: bold; /* Opcional: hace que el texto sea más grueso */
}
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para la barra de navegación */
}

/* Añadir espaciado a los párrafos */
p {
    line-height: 1.6; /* Aumentar el espacio entre líneas */
}

/* Estilo del logo */
.navbar-brand img {
    border-radius: 50%; /* Hacer el logo circular */
}
.counter {
    transition: count 0.5s;
}

.navbar-brand img {
    width: 45px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción */
}
.navbar-nav .btn {
    margin-left: 10px; /* Espacio entre el botón y el menú */
}

.social-icons a {
    font-size: 25px; /* Tamaño de los íconos de redes sociales */
}

section {
    padding: 80px 0; /* Aumenta el espacio superior e inferior */
    margin: 450px 0; /* Más espacio entre secciones */
}
